node_modules/

# Don't commit build outputs
globals.js
globals.*map
globals.d.ts
globals.mjs

./v*.js
./v*.*map
./v*.d.ts
./v*.mjs

gateway/**/*.js
gateway/**/*.map
gateway/**/*.d.ts
gateway/**/*.mjs

payloads/**/*.js
payloads/**/*.map
payloads/**/*.d.ts
payloads/**/*.mjs

rest/**/*.js
rest/**/*.map
rest/**/*.d.ts
rest/**/*.mjs

rpc/**/*.js
rpc/**/*.map
rpc/**/*.d.ts
rpc/**/*.mjs

shortcuts/**/*.js
shortcuts/**/*.map
shortcuts/**/*.d.ts
shortcuts/**/*.mjs

utils/**/*.js
utils/**/*.map
utils/**/*.d.ts
utils/**/*.mjs

voice/**/*.js
voice/**/*.map
voice/**/*.d.ts
voice/**/*.mjs

# macOS files
.DS_store
