node_modules/

out/
coverage/
.nyc_output/

debug.log

# Don't commit build outputs

v*/**/*.js
v*/**/*.map
v*/**/*.d.ts
v*/**/*.mjs

default/*.js
default/*.map
default/*.d.ts
default/*.mjs

common/*.js
common/*.map
common/*.d.ts
common/*.mjs
