# Node modules
node_modules/

# Generated data
deno/

# Versioned json
website/versioned_sidebars/
website/versioned_docs/
website/versions.json
website/.docusaurus/
website/build

# Don't format build outputs
*.js
*.d.ts
*.mjs

# Miscellaneous
CODEOWNERS
renovate.json
CHANGELOG.md

# Format all of scripts
!scripts/**/*
!.prettierrc.mjs

# Deprecated versions
gateway/v6/*
payloads/v6/*
rest/v6/*
v6.ts

gateway/v8/*
payloads/v8/*
rest/v8/*
utils/v8.ts
v8.ts
