# Node modules
node_modules/

# Generated data
deno/

# Versioned json
website/versioned_sidebars/
website/versioned_docs/
website/versions.json
website/.docusaurus/
website/build

# Don't format build outputs
*.js
*.d.ts
*.mjs
