{
	"root": true,
	"extends": ["neon/common", "neon/node", "neon/typescript", "neon/react", "neon/jsx", "neon/jsx-a11y", "neon/prettier"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		},
		"jsx": true,
		"project": "./tsconfig.eslint.json"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"overrides": [
		{
			"files": ["docusaurus.config.js", "babel.config.js", "sidebars.js"],
			"rules": {
				"@typescript-eslint/ban-ts-comment": "off",
				"@typescript-eslint/no-require-imports": "off",
				"@typescript-eslint/no-var-requires": "off"
			}
		}
	],
	"rules": {
		"@typescript-eslint/consistent-type-definitions": ["error", "interface"],
		"import/extensions": "off",
		"no-restricted-globals": "off"
	}
}
